@import 'normalize';
@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;   
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}
@media screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }
}
@media screen and (max-width: 320px) {
    html {
        font-size: 5px;
    }
}

body {
    font: 300 1.7rem/1.7 $ff;
    color: $dark;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 150px 0;
    &--pd-sm {
        padding: 90px 0 110px;
    }
    &--bgi {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 768px) {
    .section {
        padding: 90px 0;
        &--pd-sm {
            padding: 30px 0;
        }
    } 
}


header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0; 
    .header-wrap {
        display: flex;
        // align-items: center;
        justify-content: space-between;
        #toggler, #toggler-input {
            display: none;
        }       
        .nav {
            &__wrap {
                padding: 0;
                list-style: none;
            }
            &__btn {
                margin-left: 25px;
                display: inline-block;
            }
            &__link {
                padding: 5px;
                font-weight: 700;
                font-size: 1.6rem;
                border-top: $border;
                text-transform: uppercase;
                @include hover {
                    border-color: #ff6033;
                }  
            }      
        }
        @media screen and (max-width: 768px) {
            .logo {
                position: absolute;
                z-index: 20;
            }
            #toggler {
                display: block;
                position: absolute;
                z-index: 11;
                right: 15px;
                top: 15px;
                width: 48px;
                height: 36px;
            }
            #toggler-input:checked ~ nav{
                opacity: 1;
                transform: translate(0, 0);
            }
        
            #toggler-input:checked ~ #toggler {
                position: fixed;
            }
        
            #toggler-input:checked ~ #toggler span:nth-child(1) {
                transform: translate(-50%, 18px) rotate(45deg);
            }
            #toggler-input:checked ~ #toggler span:nth-child(2) {
                opacity: 0;
            }
            #toggler-input:checked ~ #toggler span:nth-child(3) {
                transform: translate(-50%, -18px) rotate(-45deg);}
                
            
            #toggler span {
                display: inline-block;
                width: 100%;
                height: 4px;
                border-radius: 2px;
                background-color: $dark;                
                position: absolute;
                left: 50%;
                transform: translate(-50%, -2px);
                transition: all .3s ease-in-out;
            }
        
            #toggler span:nth-child(1) {
                top: 0;
            }
            #toggler span:nth-child(2) {
                top: 50%;
            }
            #toggler span:nth-child(3) {
                top: 100%;
            }
            .nav {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                width: 100vw;
                height: 100vh;
                background-color: rgba(276, 276, 276, .9);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                transform: translate(-50%, -100%);
                opacity: 0;
                transition: all .3s ease-in-out;   
                transform-origin: top right;
                &__btn {
                    display: block;
                    margin: 0;
                }
                &__link {
                    display: block;
                    width: 100%;
                    padding: 10px 10px 25px 10px;
                    font-weight: 700;
                    font-size: 24px;
                    border: none;
                    border-bottom: 2px solid $dark;
                    color: $dark;
                    outline: none;
                    @include hover {
                        color: #ff6033;
                    }  
                }      
            }
        }
    }      
}

.logo {
    font: 400 5rem $ff-logo;
    @include hover {
        color: #ff6033; 
    } 
    &--sm {
        font-size: 2.5rem;
        margin: 0 285px;
        color: $light;  
    }
}
@media screen and (max-width: 992px) {
    .logo {
        &--sm {
            display: block;
            margin: 0; 
        }
    }
}

.block {
    width: 600px;
    max-width: 50%;
    padding: 0 15px;
    &--sm {
        max-width: 33%;
        width: 400px;
        padding: 0 15px;
    }
    &--light {
        color: $light;
    }
    h1 {
        font-weight: 900;
        font-size: 6rem;
        margin: 10px 0;
    }
    @media screen and (max-width: 992px) {
        h1 {
            font-size: 5rem;
        }
    }
    &__title {
        font-size: 9rem;
        font-weight: 700;
        margin: 20px 0;
        line-height: 1;
    }
    @media screen and (max-width: 1074px) {
        &__title {
            font-size: 7rem;
            }
        }
    &__text {
        margin: 20px 0;
    }
}

.btn {
    color: $light;
    font-size: 2rem;
    font-weight: 300;
    background-color: #ff6033;
    border: 2px solid #ff6033;
    padding: 10px;
    margin: 30px 0;
    display: inline-block;
    width: 200px;
    // max-width: 55%;
    text-align: center; 
    box-shadow: $shadow-btn;
    text-transform: uppercase;
    @include hover {
        border: 2px solid #ff6033;
        color: $dark;
    }
    &--blue {
        background-color: #5585a2;
        border: 2px solid #5585a2;
        // padding: 15px 40px;
        @include hover {
            border: 2px solid #5585a2;
        }
    }
    &--green {
        max-width: 15%;
        width: 170px;
        padding: 17px 0;
        outline: 0;
        margin: 0 30px;
        border: 2px solid #96b92c;
        background-color: #96b92c;
        @include hover {
            border: 2px solid #96b92c;
        }
    }
    &--red {
        background-color: #f72b3b;
        border: 2px solid #f72b3b;
        @include hover {
            border: 2px solid #f72b3b;
            // color: $dark;
        }
    }  
}

.scroll {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

#home {
    background-image: url(../img/bg-home.jpg);
    min-height: 100vh;
    background-color: $light;
    position: relative;
}

#about {
    background-image: url(../img/bg-about.jpg);
    background-color: $dark;
    .about-wrap {
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 576px) {
    h2 {
        text-align: center;
    }
}

#services {
    background-image: url(../img/bg-servises.jpg);
    background-color: $dark;
    .services-wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .services {
            width: 400px;
            max-width: 50%; 
            font-size: 2rem;   
            font-weight: 700;
            line-height: 1.2;
            &__btn {
                display: flex;            
                justify-content: space-between;
                height: 100px;
                align-items: center;
                box-shadow: $shadow;
                background-color: $light;
                margin: 20px 0; 
                .wrap {
                    text-align: center;
                    flex: 1 1 75%;
                    .link {
                        padding: 15px;
                        @include hover {
                            color: #ff6033; 
                        }
                    }                 
                }   
                .svg-wrap {
                    flex: 0 1 25%;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    // padding: 25px;

                    svg {
                        margin: 25px;         
                    }
                }                                          
                .svg-wrap::before {
                    content: '';
                    border-left: 1px solid #9d9d9d;
                    position: absolute;
                    z-index: 10;
                    top: 0;
                    bottom: 0;                
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #services {
        background-color: #70bfff; 
        background-image: none;
        .services-wrap {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            h2 {
                text-align: center;
            }

        }
    }
}

#gallery {
    background-color: #ffe92f;
    text-align: center;
    .block {
        margin: 0 auto;
    }
    .gallery-wrap {
        display: flex;
        flex-wrap: wrap;
        .col {
            width: calc((100% / 2) - 5px * 2);
            margin: 5px;
            &--lg {
                width: calc(65% - 5px * 2);
            }
            &--sm {
                width: calc(35% - 5px * 2);
            }   
        }
        @media screen and (max-width: 576px) {
            .col {
                width: calc(100% - 15px * 2);
                margin: 15px;
                &--sm {
                    width: 100%;
                }
            }
        }
        
        &--row {
            flex-direction: row;
            justify-content: space-between;
        }
        .gallery {
            width: 100%;
            padding-top: 75%;
            position: relative;
            overflow: hidden;        
            &--sm {
                width: 100%;
                padding-top: 68%;
                margin: 5px 0;
            }
            &__img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                min-width: 100%;
                min-height: 100%;
            }
        }   
    }
}


#subscribe-form {
    background-image: url(../img/bg-sub.jpg);
    background-color: $light;
    .block__title {
        font-size: 4rem;
        font-weight: 700;
    }
    .subscribe {
        &__input {
            outline: 0;
            border: 1px solid rgba(38,38,38, .5);
            max-width: 49%;
            width: 570px;
            padding: 20px 10px;
            margin: 15px;
            @include hover {
                border: 1px solid rgba(38,38,38, 1);
            } 
        }
    }
}

#blog {
    background-color: #b07cf7;
    text-align: center;
    color: $light;
    .block {
        margin: 0 auto;
    }
    
    .article-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .col {
            width: calc((100% / 3) - 15px * 2);
            margin: 15px;
        } 
        @media screen and (max-width: 576px) {
            .col {
                width: calc(100% - 15px * 2);
                margin: 15px;
            }
        }
                
        .article {
            width: 100%;
            padding-top: 100%;
            position: relative;
            overflow: hidden;
            @include hover {
                box-shadow: $shadow; 
            }  
            &__img {
                min-width: 100%;
                min-height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) 90%); 
            }  
            &__data {
                max-width: 70px;
                max-height: 70px;
                background-color: #4e545e;
                line-height: 1;
                border-radius: 15%;
                opacity: .9;
                padding: 5px;
                position: absolute;
                z-index: 1;
                left: 10%;
                top: 10%; 
                text-align: center;
                .day {
                    margin: 0;
                    padding: 0;
                    font-size: 3.2rem;
                    font-weight: 700;
                    
                }            
                .month {
                    margin: 0;
                    padding: 0;
                    font-size: 2.1rem;
                    font-weight: 900;
                    text-transform: uppercase;
                }
            }
            &__name {
                font-size: 2rem;
                font-weight: 700;
                text-align: left;
                padding: 10px 20px;
                position: absolute;
                z-index: 1;
                bottom: 40px;
                @include hover {
                    text-decoration-line: underline; 
                }
            }
            &__post {
                font-style: 1.3rem;
                padding: 10px 20px;
                position: absolute;
                z-index: 1;
                bottom: 10px;
                .post__author:not(:empty) + .post__date:not(:empty):before {
                    content: '-';
                }
            }
        }        
    }
    
}

#contact {
    background-image: url(../img/bg-contact.jpg);
    background-color: $light;
    .block {
        margin: 0 auto;
        text-align: center; 
    }
    .contact-wrap {
        display: flex;
        justify-content: space-between;
        .form {
            width: 500px;
            max-width: 42%;
            &__input {
                width: 100%;
                margin: 15px 0;
                padding: 10px;
                background-color: rgba(0, 196, 196, .5);
                outline: none;
                border: none;
                color: rgba(245,252,252, .9);
                resize: none;
                &:focus {
                    background-color: rgba(0, 196, 196, 1);
                    border-left: 4px solid #355b82;
                    color: rgba(245,252,252, 1);
                }
                &::placeholder {
                    color: rgba(245,252,252, .8);
                }
            }
            &__submit {
                display: none;
            }
        }
        .adress-wrap {
            width: 500px;
            max-width: 42%;
            padding: 15px 0;
            .adress {
                margin: 10px;
                &__title {
                    font-size: 1.7rem;
                    font-weight: 700;
                    margin: 0;
                }
                &__content {
                    font-size: 2rem;
                    margin: 0;
                }
            } 
        }
    }    
}

.footer {
    background-color: #000000;
    color: #afafaf;
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: 100;
    &__text strong{
        font-weight: 700;
        color: #ff2b58;
    }
}
